html {
  font-family: Roboto, Calibri, Trebuchet, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  height: auto;
}

img {
  width: auto;
  border-radius: 5px;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

.slot-img {
  width: 100%;
  border-radius: 5px;
}

.results-img {
  width: 100%;
  border-radius: 5px;
}

.about {
  width: 100%;
  min-height: 200px;
  border-radius: 5px;
  background-color: #e3f2fd;
  padding: 10px;
}

form {
  background-color: #e3f2fd;
  border-radius: 5px;
  padding: 5px;
}

.searchResults {
  background-color: #e3f2fd;
  align-self: center;
}